

header img{
    width:100%;
}
header nav ul{
     /* posicionaremos el menú de manera absoluta respecto al header que 
    contiene la imagen */
    top: 20%;    
    width: 100%; /* recuerda que un elemento posicionado de manera absoluta, ocupa solo el ancho
    de su contenido. Para centrarlo debidamente en pantalla, necesitaremos un ancho 100% */
    display: flex; /* lo necesitamos para centrar el menú  */
    justify-content: center;    
    background-color: #000000af;
    border-top: 2px solid #c1bebe;
    border-bottom: 2px solid #c1bebe;
    list-style: none;
}
nav ul li {
    padding: 1rem 1.5rem;
}
nav ul li a:hover { /* al pasar el ratón sobre elementos del menú cambian de color y tamaño*/
    font-size: 2.7rem;
    color: #dfdb06;
}