
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial';
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background: #f8f8f8;
    padding: 20px;
    text-align: center;
}

header nav {
    margin-top: 10px;
}

header ul {
    list-style: none;
    display: inline-flex; /* Para mostrar los enlaces de la lista en línea */
    gap: 15px; /* Espacio entre los elementos de la lista */
}

header ul li {
    padding: 5px;
}

header a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 1em;
}

img {
    max-width: 100%;
    height: auto;
    display: block; /* Asegura que la imagen no tenga espacio extra debajo */
}

.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Añade espacio entre la imagen y el contenido de la derecha si es necesario */
}

/* Asegura que la imagen y el contenido a la derecha se mantengan en una línea y en tamaño apropiado */
.header-content img, .header-content .right-content {
    flex: 1;
}

/* Opcional: Si quieres que la imagen no crezca demasiado y el contenido a la derecha ocupe más espacio */
.header-content img {
    flex-basis: auto; /* ajusta este valor según sea necesario */
    max-width: 50%; /* Ajusta este valor para el tamaño máximo de tu imagen */
}

.header-content .right-content {
    flex-basis: 50%; /* Ajusta este valor para el ancho del contenido a la derecha */
    text-align: left; /* Alinea el texto a la izquierda si es necesario */
}

/* Adapta el estilo de nav para trabajar con el nuevo layout */
nav {
    width: 100%; /* Asegura que nav ocupe todo el ancho disponible */
    margin-top: 10px; /* Espacio arriba de nav */
}

/* Asegúrate de que el título sigue estando en su propia fila */
header h1 {
    width: 100%;
    margin-bottom: 20px;
}


main {
    padding: 20px;
}

h2 {
    color: #007bff;
    margin-bottom: 20px;
}

.Beneficios h3 {
    margin-top: 10px;
    color: #333;
}

.Beneficios p, .Info p {
    margin-bottom: 10px;
    text-align: left;
    max-width: 50%;
}

.Beneficios img, .Info img{
    max-width: 50%;
    justify-content: end;
}


footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

@media (min-width: 768px) {
    .flex-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header img {
        width: 50%; /* Tamaño de imagen en pantallas más grandes */
    }

    header nav {
        order: -1; /* Coloca la navegación antes del título en la vista flex */
    }

    header h1, header nav {
        flex-basis: 100%; /* Permite que el título y la navegación ocupen todo el ancho en su propia fila */
    }
}
